click==7.1.2
dronekit==2.9.2
Flask==1.0.2
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
monotonic==1.5
numpy==1.16.6
opencv-python==4.2.0.32
pymavlink==2.4.14
Werkzeug==1.0.1

contextlib2~=0.6.0.post1